node_modules
*.log*
.nuxt
.nitro
.cache
.output
.paymentintent
.env
dist
.DS_Store
tools/google-chrome-stable_current_amd64.deb
tools/google-chrome-stable_current_amd64.deb
tools/google-chrome-stable_current_amd64.deb.1
